* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#nav {
  width: 100%;
  height: 110px;
  padding: 15px 50px;
  border-bottom: 7px solid yellow;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: darkgreen;
  color: white;
  .game-manual {
    width: 900px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .how-to-play {
      width: 250px;
      > a {
        background-color: red;
        color: white;
        padding: 5px 10px;
        border-radius: 7px;
      }
    }
    .how-points-earned {
      width: 400px;
      padding: 0 25px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: left;
    }
    .action-points-cost {
      width: 300px;
      line-height: .8;
      flex-direction: column;
      justify-content: center;
      align-items: left;
    }
  }
  .player-info {
    width: 250px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .player {
      * {
        margin: 15px 0;
      }
    }
  }
  .move-number-container {
    display: none;
    &.display {
      display: block;
    }
  }
}
#main {
  position: relative;
  width: 100%;
  height: calc(100vh - 110px);
  padding: 15px 0;
  display: flex;
  background-color: darkgreen;
  border-bottom: 7px solid yellow;
  .start-again {
    display: none;
    width: 220px;
    height: 475px;
    position: absolute;
    top: 50%;
    right: 10px;
    border: 1px solid yellow;
    transform: translateY(-50%);
    background-color: rgba(153, 205, 50, 0.884);
    &.activate {
      display: flex;
      flex-direction: column;
      align-items: space-between;
      justify-content: center;
      text-align: center;
      gap: 60px;
    }
    h1 {
      color: red;
      font-size: 24px;
    }
    #new-game-btn {
      background-color: yellowgreen;
      width: 100%;
      height: 25%;
      cursor: pointer;
      color: red;
      font-size: 22px;
      border: 1px solid transparent;
      border-bottom: 1px solid yellow;
      border-top: 1px solid yellow;
      &:hover {
        background-color: green;
      }
    }
  }
  #game-info-table {
    width: 20%;
    height: 100%;
    margin: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: yellowgreen;
    color: red;
    .last-dice-result {
      width: 100%;
      height: 50%;
      font-size: 48px;
      font-weight: 900;
      display: flex;
      align-items: center;
      justify-content: center;
      border-bottom: 4px solid yellow;
    }
    .notifications {
      width: 100%;
      height: 50%;
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
      line-height: 1.5;
      font-size: 32px;
      font-weight: 500;
    }
  }
  #tiles {
    width: 60%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    .tile {
      width: 20%;
      height: 20%;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid yellow;
      color: red;
      font-weight: 700;
      font-size: 60px;
      text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.514);
      cursor: pointer;
    }
  }
  #buttons {
    width: 20%;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    button {
      width: 100%;
      height: 25%;
      background-color: yellowgreen;
      border: 1px solid yellow;
      color: red;
      font-size: 24px;
      pointer-events: none;
      &:hover:not(.blurr) {
        background-color: green;
      }
      &.started {
        pointer-events: auto;
        cursor: pointer;
      }
      &.blurr {
        opacity: 0.6;
      }
      &.denied {
        animation-name: aslan;
        animation-duration: 0.3s;
        animation-iteration-count: 1;
      }
      @keyframes aslan {
        0% {
          background-color: yellowgreen;
        }
        25% {
          background-color: rgba(255, 42, 42, 0.534);
        }
        100% {
          background-color: yellowgreen;
        }
      }
    }
  }
}
